/* -------------------------custom pallet-------------------------*/
:root {
    --gray: #aba6a6;
    --brown: #c2914dce;
    --dark: rgb(36, 35, 35);
    --blue: rgb(24, 61, 115);
}

@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

/* reset */
* {
    margin: 0;
    padding: 0;
}

/* sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* -------------------------body------------------------- */
body {
    font-family: Arial, Helvetica, sans-serif; 
    /* update font-family*/
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.1;
}

/* -------------------------header------------------------- */
header {
    width: 100%;
    height: 50px;
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
  }

header > h3 {
    color: var(--brown);
    font-size: min(5vw, 1.2em);
    text-align: center;
  }

#navbar {
    width: 50%;
    max-width: 300px;
    height: 50px;
}

#navbar > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }

#navbar > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
  }

#navbar > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
  }

#navbar li > a {
    color: inherit;
    text-decoration: none;
  }

a {
    color: rgb(117, 194, 213);
    font-size: 13px;
    text-decoration: none;
}


.code {
    
}

.code:hover {

}

/* media query*/
@media (max-width: 61.25em){
html {
    font-size: 58%;
}
}

@media (max-width: 75em){
html {
    font-size: 60%;
}
}

/* -------------------------main------------------------- */
main {
    top: auto;
    padding: 50px;
    margin: 3px;
}

section {
    width: 100%;
    margin: 0 auto 10px auto;
    max-width: 600px;
}

/* welcome-section */
#welcome-section {
    background-color: var(--brown);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

img {
    width: max(100px, 18vw);
    padding: 0.1rem;
    border-radius: 9%;
}

/* projects */
#projects {
    background-color: var(--blue);

}

#projects > h3 {
    color: var(--gray);
}